<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Proyect</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <div class="header">
        <div class="title">INTERFAZ ADMIN</div>
    </div> 
    <div class="container">
        <div class="login_box">
            <div class="text1">Registro</div>
            <form action="/usuarios/save" method="post">
                <div><label class="text2" for="nombre">Nombre</label></div>
                <div><input class="itext1" type="text" name="nombre" placeholder=""></div>
                <div><label class="text2" for="cuenta">Cuenta</label></div>
                <div><input class="itext1" type="text" name="cuenta" placeholder="paco"></div>
                <div><label class="text2" for="clave">Contraseña</label></div>
                <div><input class="itext1" type="password" name="clave" placeholder="Contraseña"></div>
                <div><label class="text2" for="email">Email</label></div>
                <div><input class="itext1" type="email" name="email" placeholder="example@gmail.com"></div>
                <div><label class="text2" for="rol">Rol</label></div>
                <div><select class="select1" name="rol" id="rol">
                    <option value="medico">Medico</option>
                    <option value="paciente">Paciente</option>
                </select></div>
                <div><input type="submit" value="Crear Cuenta" class="btn1"></div>
            </form>
            <div><span class="text2">¿Ya tienes cuenta?</span><a class="ref1" href="/">Inicia Sesión</a></div>
        </div>
    </div>
</body>
</html>