<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <div class="header">
        <div class="title">CREAR TRATAMIENTO</div>
    </div>
    <div class="container">
        <div class="login_box2">
            <div class="text1">Tratamiento</div>
            <form action="/tratamientos/save" method="post">
                <div><label class="text2" for="nombre">Nombre del Tratamiento</label></div>
                <div><input class="itext2" type="text" name="nombre" placeholder=""></div>
                <div><label class="text2" for="descripcion">Descripcion</label></div>
                <div><input class="itext2" type="text" name="descripcion" placeholder=""></div>
                <div><label class="text2" for="observaciones">Observaciones</label></div>
                <div><input class="itext2" type="text" name="observaciones" placeholder=""></div>
                <div><input class="btn1" type="submit" value="Crear Tratamiento"></div>
                <br>
                <div><a href="/medic/dashboard" class="btn1">Cancelar</a></div>
            </form>
            <br>
        </div>
    </div>
</body>
</html>