<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <div class="header">
        <div class="title">SEGUIMIENTO DE PACIENTES</div>
    </div>
    <div class="container">
        <div class="login_box">
            <div class="text1">Bienvenido</div>
            <form action="" method="post">
                <div><input class="itext1" type="text" placeholder="Usuario"></div>
                <br><br>
                <div><input class="itext1" type="password" placeholder="Contraseña"></div>
                <br><br>
                <div><input type="submit" value="Iniciar Sesion" class="btn1"></div>
            </form>
            <div><span class="text2">¿No tienes cuenta?</span><a class="ref1" href="/usuarios/create">Registrate</a></div>
        </div>
    </div>
</body>

</html>