<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="header">
        <div class="title">INTERFAZ PACIENTE</div>
    </div> 
    <div class="container">
        <br>
        <div class="content">
            <div class="content1">
                <div><img src="https://cdn-icons-png.flaticon.com/128/9951/9951464.png" alt=""></div>
                <br>
                <div><a class="btn1" href="">Visualizar tratamiento</a></div>
            </div>
            <div class="content1">
                <div><img src="https://cdn-icons-png.flaticon.com/128/4285/4285578.png" alt=""></div>
                <br>
                <div><a class="btn1" href="">Recordatorios</a></div>
            </div>
        </div>
    </div>
</body>
</html>